pycache/
*.pyc
.env
venv/
.venv/
__pycache__
.vscode/
media/
.project_index.json
.project_index/
*.sqlite
checkpoints.sqlite
.pytest_cache/
*.sqlite-shm
*.sqlite-wal
checkpoints.sqlite-shm
checkpoints.sqlite-wal
