python-dotenv
pydantic
pdfplumber
Pillow
pytesseract
openpyxl
python-docx
defusedxml 
opencv-python
pdf2image
langgraph
langchain-google-genai
sentence-transformers
langchain-community
chromadb
langchain-core
beautifulsoup4
pandas
