python-dotenv
pydantic
pdfplumber
Pillow
pytesseract
openpyxl
python-docx
defusedxml 
opencv-python
pdf2image
langgraph
langchain-google-genai
beautifulsoup4
langchain-community
langchain-core
fastapi[standard]
uvicorn[standard]
langchain-mcp-adapters
pyppeteer
nest-asyncio
langchain-deepseek
langchain-openai
httpx
langchain_experimental
monday-api-python-sdk
sqlmodel
pymysql